---
---

@import "jekyll-theme-slate";

img.avatar {
	border: none;
	box-shadow: none;
	margin-top: -40px;
}

p img {
	margin: 10px;
	box-shadow: 0 0 5px #a4a4a4;
}

p img.left {
	float: left;
}

p img.right {
	float: right;
}
ul{
	list-style: disc;
}

@media screen and (max-width: 768px) {
	p img.left, p img.right {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
